<div class="bx-node-list-item {{#if is_selected}}is-selected{{/if}} {{#if is_pending_delete}}is-pending-delete{{/if}} {{#if has_errors}}has-errors{{/if}}" data-node-id="{{id}}">
  <button type="button" class="bx-node-list-item__select" data-role="select-node" data-node-id="{{id}}">
    Node {{number}}
  </button>
  {{#if has_errors}}
    <span class="bx-node-list-item__error" aria-label="Node has errors">!</span>
  {{/if}}
  <button
    type="button"
    class="bx-node-list-item__delete {{#if is_pending_delete}}is-restore{{/if}}"
    data-role="toggle-delete-node"
    data-node-id="{{id}}"
    aria-label="{{#if is_pending_delete}}Restore node{{else}}Delete node{{/if}}"
  >
    {{#if is_pending_delete}}
      <span class="fa fa-undo" aria-hidden="true"></span>
    {{else}}
      <span class="fa fa-trash-o" aria-hidden="true"></span>
    {{/if}}
  </button>
</div>
